
/*footer, div, section {
  outline: #000 solid 2px;
  background-color: rgba(255, 0, 0, 0.1);
}*/

img {
  width: 100%;
  height: auto;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

body {
  min-width: 1200px;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;

  color: #fff;
}

.container {
  min-width: 1200px;

  background: #849d8f url(../img/ice-cream-1.png) no-repeat 50% 0 ;
}

.content_wrapper {
  width: 1200px;
  margin: 0 auto;
}

.header {
  min-height: 115px;
  padding: 10px 27px 0 27px;
}

.navigation {
  width: 853px;
  float: left;
}

.navigation .gllacy_logo {
  float:left;
  width: 153px;
  height: 63px;
  margin-left: -6px;
  margin-right: 15px;
}

.navigation ul {
  margin: 0;
  padding-left: 0;
  font-size: 0;
  list-style: none;
}

.navigation_item {
  position: relative;
  display: inline-block;

  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  vertical-align: baseline;
}

.navigation_link {
  display: block;

  padding: 20px 15px;
  color: #fff;
  text-decoration: underline;
}

.navigation_link:hover {
  padding: 5px 15px;

  border-radius: 16px;
  text-decoration: none;
  background-color: #fff;
  color: #000;
}

.navigation_link:active {
  box-shadow: inset 0 2px 2px #696969;
}

.navigation_link_active {
  padding: 5px 15px;

  border-radius: 16px;
  text-decoration: none;
  background-color: #d07058;
  color: #fff;
}

.navigation_popup_wrap {
  position: absolute;
  top: 37px;
  left: -7px;
  min-width: 144px;
  background-color: #f8f7f4;
  border-radius: 7px;
  z-index: 20;
  display: none;
}

.navigation_popup {
  margin: 0;
  padding: 0;
}

.navigation_popup li {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.navigation_popup_link, .navigation_popup_title {
  display: block;
  padding: 8px 20px;
  color: #343434;
  text-decoration: none;
}

.navigation_popup_title {
  padding: 8px 14px;
  font-weight: 700;
  margin: 0 7px;
  border-bottom: 1px solid rgba(52, 52, 52, 0.2);
}

.navigation_popup_link:not(.navigation_popup_title):not(.navigation_popup_active):hover {
  background: #fbded7;
}

.navigation_popup_active {
  background: #d07058;
  color: #fff;
}

.user_block {
  width: 290px;
  float: right;

  text-align: right;
  font-size: 0;
}

.user_block a {
  display: inline-block;
  vertical-align: middle;

  margin-top: 13px;
  margin-right: 10px;

  font-size: 14px;
  line-height: 22px;
  color: #fff;
  text-decoration: none;
}

.user_block .search {
  width: 33px;
  height: 33px;

  background: rgba(255, 255, 255, 0.2) url(../img/search-icon.svg) no-repeat center;
  border-radius: 17px;
}

.user_block .search:hover {
    background: #fff url(../img/search-black.svg) no-repeat center;
    color: #323232;
}

.user_block .login {
  padding: 5px 15px 5px 45px;

  background: rgba(255, 255, 255, 0.2) url(../img/login-icon.svg) no-repeat 16px;
  border-radius: 17px;
}

.user_block .login:hover {
    background: #fff url(../img/login-black.svg) no-repeat 16px;
    color: #323232;
}

.user_block .cart {
  padding: 5px 35px 5px 45px;
  margin-right: 0;

  background: rgba(255, 255, 255, 0.2) url(../img/cart-icon.svg) no-repeat 16px;
  border-radius: 17px;
}

.user_block .cart:hover {
    background: #fff url(../img/cart-black.svg) no-repeat 16px;
    color: #323232;
}

.user_block p {
  margin-top: 17px;
  margin-bottom: 0;

  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
}

.user_block p span{
  font-size: 22px;
  line-height: 30px;
}

.content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
}

.slider {
  position: relative;

  padding: 265px 0 40px;
}

.slider_slides {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.slide {
  display: none;

  text-align: center;
}

.slider h2 {
  display: block;
  width: 685px;

  margin: 0 auto 30px;

  font-size: 60px;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 700;
  line-height: 60.35px;
  text-align: center;
}

.slider_controls {
  position: absolute;
  bottom: 60px;
  left: 27px;
  margin: 0;
  padding: 0;
  font-size: 0;
  line-height: 0;

  list-style: none;
}

.slider_control_item {
  display: inline-block;
  vertical-align: top;
  margin-right: 8px;
  width: 18px;
  height: 18px;
  border: 2px solid #fff;
  border-radius: 12px;
  cursor: pointer;
}

.slider_control_item:hover {
  background-color: rgba(255,255,255,0.4);
}

input#slide1:checked ~ .container .control_item1,
input#slide2:checked ~ .container .control_item2,
input#slide3:checked ~ .container .control_item3 {
  background-color: #fff;
}

input#slide1:checked ~ .container .slide1,
input#slide2:checked ~ .container .slide2,
input#slide3:checked ~ .container .slide3 {
  display: block;
}

#slide2:checked ~ .container {
  background-color: #8996a6;
  background-image: url(../img/ice-cream-2.png);
}

#slide3:checked ~ .container {
  background-color: #9d8b84;
  background-image: url(../img/ice-cream-3.png);
}

.controls {
  display: none;
}

.btn {
  display: inline-block;
  padding: 10px 23px;

  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  font-family: "Roboto", "Arial", sans-serif;
  color: #fff;
  text-align: center;
  vertical-align: top;
  text-decoration: none;
  text-shadow: rgba(160, 32, 11, 0.76) 0 2px 5px;

  background: #ed5c3e;
  background: linear-gradient(to right, #ed5c3e, #ec593c);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;
  border-radius: 22px;
  outline: none;
  cursor: pointer;
}

.btn_big {
  padding: 10px 40px;

  font-size: 32px;
  line-height: 46px;
  border-radius: 32px;
}

.btn:hover {
  background: linear-gradient(to bottom,#f58669 0%,#ec6f5e 100%);
  box-shadow: 0 2px 2px #ac1000;
}

.btn:active {
  background: linear-gradient(to bottom,#d84732 0%,#e1613e 100%);
  box-shadow: inset 0 2px 2px #ac1000;
}

.banners, .widgets {
  padding: 0 27px;
  margin-bottom: 40px;
}

.banners .btn {
  float: right;
}

.banner {
  float: left;
  width: 520px;

  padding: 16px 20px;
  margin-right: 26px;

  border-radius: 17px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.banner:last-child {
  margin-right: 0;
}


.banners .rasberry {
  background-image: url(../img/rasberry-background.jpg);
}

.banners .chocolate {
  background-image: url(../img/chocolate-background.jpg);
}

.banner h3 {
  margin: 0;
  margin-bottom: 14px;
  padding: 0;

  font-size: 35px;
  line-height: 42px;
  color: #fff;
}

.banner p {
  margin: 0;
  margin-bottom: 50px;
  padding: 0;
  min-height: 66px;

  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: #fff;
}

 .hit_products {
   padding: 0 27px;
 }

.product {
  position: relative;
  float: left;
  width: 267px;
  margin-right: 26px;

}

.product:nth-child(4n) {
  margin-right: 0;
}

.product_prew {
  position: relative;
}

.hit_products .product_prew::before {
  content: "";
  position: absolute;
  display: block;
  width: 61px;
  height: 61px;

  background: url(../img/hit.jpg) no-repeat;
  border-radius: 30px;
}

.product_img_wrap img {
  display: block;
}

.product_price {
  position: absolute;
  left: 0;
  top: 205px;
}

.product_price_cost {
  font-size: 45px;
  line-height: 54px;
  font-weight: 700;
}

.product_price_amount {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}

.product_desc {
  position: relative;
}

.product_desc a {
  display: block;
  margin-top: 15px;
  margin-bottom: 20px;

  font-size: 16px;
  line-height: 22px;
  text-align: center;
  text-decoration: underline;
  color: #fff;
}

.product_desc a:hover {
  color: #ffbc9e;
}

.product_hover_wrap {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: -9px;
  left: -10px;
  padding: 9px 10px 55px;

  text-align: center;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  z-index: 10;
}

.product_hover_wrap .btn {
  position: absolute;
  bottom: 22px;
  left: 16px;
  right: 16px;
}

.product:hover .product_hover_wrap{
  display: block;
}

.product:hover .product_prew, .product:hover .product_desc {
  z-index: 11;
}

.about_shop {
  margin: 10px 27px 40px;
  padding: 23px 20px;

  background-image: url(../img/waffle-pattern.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-radius: 15px;
  color: #323232;
}

.about_shop h2 {
  margin: 0;
  margin-bottom: 14px;
  padding: 0;

  font-size: 24px;
  line-height: 30px;
}

.about_shop_items {
  float: left;
  width: 540px;
  margin-right: 26px;
}

.about_shop_items:last-child {
  margin-right: 0;
}

.about_shop_items p {
  position: relative;
  margin: 0;
  margin-top: 12px;
  margin-bottom: 22px;
  padding: 0;
  padding-left: 55px;

  font-size: 16px;
  line-height: 22px;
}

.about_shop_items p:last-child {
  margin-bottom: 0;
}

.about_shop_items p::before {
  content: "";
  position: absolute;
  width: 47px;
  height: 47px;
  left: 0;
  top: -12px;
}

.about_shop_ice_cream::before {
  background: url(../img/ice-cream.svg) no-repeat;
}

.about_shop_sheet::before {
  background: url(../img/sheet.svg) no-repeat;
}

.about_shop_cow::before {
  background: url(../img/cow.svg) no-repeat;
}

.about_shop_grad::before {
  background: url(../img/grad.svg) no-repeat;
}

.widget {
  float: left;
  width: 520px;
  padding: 20px;
  margin-right: 26px;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-radius: 15px;
}

.widget:first-child {
  min-height: 177px;
}

.widget:last-child {
  margin-right: 0;
  padding: 0;
  width: 560px;
}

.widget_email_inner {
  margin: 6px;
  padding: 32px 20px;
  min-height: 140px;
  border-radius: 10px;
  background-color: #f8f7f4;
}

.widget_blog {
  background-image: url(../img/strawberry-background.jpg);
}

.widget_email {
  background-image: url(../img/email-pattern.jpg);
}

.widget_blog span {
  font-size: 16px;
  line-height: 20px;
  color: #5a5a5a;
}

.widget_blog h3 {
  margin: 0;
  margin-top: 12px;
  padding: 0;

  font-size: 24px;
  line-height: 30px;
  text-decoration: underline;
  color: #353535;
}

.widget_blog h3 a {
  font-size: 24px;
  line-height: 30px;
  text-decoration: underline;
  color: #353535;
}

.widget_blog h3 a:hover {
  color: #e84d37;
}

.widget_email_inner p {
  margin: 0;
  margin-bottom: 15px;

  font-size: 16px;
  line-height: 20px;
  color: #5a5a5a;
}

.widget_email_inner .input_wrap {
  float: left;
}

.widget_email_inner input[type="email"] {
  padding: 10px 16px;
  margin-right: 6px;
  width: 330px;

  font-size: 16px;
  line-height: 24px;

  border: 1px solid #b2b2b2;
  border-radius: 5px;
}

.widget_email_inner .btn {
  margin-top: 20px;
}

.location_map {
  position: relative;
  min-height: 428px;
  background-image: url(../img/map.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.location_map_icon {
  position: absolute;
  width: 218px;
  height: 142px;
  top: 138px;
  left: 265px;
}

.location_map_icon img {
  display: block;
}

.location_map_address {
  position: absolute;
  width: 255px;
  padding: 30px 25px;
  top: 65px;
  right: 27px;
  color: #343434;
  background-color: #fdfefe;
  border-radius: 15px;
}

.location_map_address p {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;

  font-size: 14px;
  line-height: 22px;
}

.location_map_address p strong{
  font-size: 18px;
  line-height: 24px;
}

.location_map_address .btn {
  box-sizing: border-box;
  width: 100%;
  margin-top: 5px;
}

.footer {
  padding: 20px 27px 30px;
}

.footer_social {
  width: 267px;
  float: left;
  margin-top: 15px;
  margin-right: 26px;
  font-size: 0;
}

.footer_social_btn {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 11px;

  border: 4px solid rgba(225, 225, 225, 0.7);
  border-radius: 20px;
  opacity: 0.8;
}

.footer_social_btn:hover {
  opacity: 1;
}

.footer_social_btn:active {
  box-shadow: inset 0 2px 2px #888;
}

.twitter {
  background: url(../img/tvitter.svg) no-repeat center;
}

.insta {
  background: url(../img/inst.svg) no-repeat center;
}

.fb {
  background: url(../img/fb.svg) no-repeat center;
}

.vk {
  background: url(../img/vk.svg) no-repeat center;
}

.footer_links {
  float: left;
  padding: 0 110px;
  margin-top: 15px;
  margin-right: 26px;
}

.footer_links ul {
  display: block;
  float: left;

  margin: 0;
  margin-right: 10px;
  padding-left: 0;
  list-style: none;
}

.footer_links a {
  color: #fff;
}

.footer_links a:hover {
    color: #ffbc9e;
}

.footer_links li {
  padding-left: 22px;
  font-size: 13px;
  line-height: 18px;
  margin-bottom: 5px;
}

.footer_links li:last-child {
  margin-bottom: 0;
}

.footer_links .active {
    position: relative;
}

.footer_links .active::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 13px;
  top: 3px;
  left: 0;

  background: url(../img/hurt.svg) no-repeat;
}

.footer_copyright {
  width: 192px;
  padding-left: 75px;
  float: left;
}

.footer_copyright > a {
  display: block;
  width: 108px;
  height: 37px;
  margin-bottom: 6px;
}

.footer_copyright p {
  margin: 0;
  font-size: 12px;
  line-height: 16px;
}

.footer_copyright p a {
  color: #fff;
  text-decoration: underline;
}

.footer_copyright p a:hover {
    color: #ffbc9e;
}

/*Всплывающая форма обратной связи*/

.feedback_popup {
  display: none;
  position: fixed;
  top: 200px;
  left: 50%;
  width: 428px;
  margin-left: -238px;
  padding: 22px 25px;
  text-align: right;
  background-color: #f8f7f4;
  border-radius: 10px;
  z-index: 200;
}

.popup_close {
  position: absolute;
  top: 15px;
  right: 15px;

  width: 17px;
  height: 17px;

  font-size: 0;
  background-color: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.popup_close::before,
.popup_close::after {
  content: "";
  position: absolute;
  top: 7px;
  left: 0px;

  width: 19px;
  height: 2px;
  background-color: #343434;
}

.popup_close::before {
  transform: rotate(45deg);
}

.popup_close::after {
  transform: rotate(-45deg);
}

.input_wrap {
  position: relative;
  box-sizing: border-box;
  padding-top: 20px;
  color: #323232
}

input[type="text"],
input[type="email"],
textarea {
  box-sizing: border-box;
  padding: 10px 16px;
  font-size: 16px;
  font-family: Roboto,Arial,sans-serif;
  font-weight: 700;
  line-height: 24px;
  color: #656565;
  border: 1px solid rgba(178,178,178,0.52);
  border-radius: 5px;
  background-color: #fff;
  outline: none;
}

.feedback_form input[type="text"],
.feedback_form input[type="email"] {
  display: block;
  width: 267px;
}

.feedback_form textarea {
  margin-bottom: 25px;
  min-width: 100%;
  min-height: 135px;
  resize: none;
}

input[type="text"]:hover,
input[type="email"]:hover,
textarea:hover {
  padding: 9px 15px;
  border: 2px solid rgba(154,154,154,0.52);
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  padding: 9px 15px;
  border: 2px solid #8fbdec;
}

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  color:transparent;
}
input:focus:-moz-placeholder,
textarea:focus:-moz-placeholder {
  color:transparent;
}
input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
  color:transparent;
}
input:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder {
  color:transparent;
}

.feedback_form label,
.widget_email_inner label {
  display: none;
  position: absolute;
  box-sizing: border-box;
  padding: 0 15px;
  top: 0;
  left: 0;
  height: 20px;
  font-family: Roboto,Arial,sans-serif;
  font-size: 11px;
  line-height: 20px;
  font-style: normal;
  font-weight: 400;
  color: #999;
}

.feedback_form input:focus + label,
.feedback_form textarea:focus + label,
.widget_email_inner input:focus + label {
  display: block;
  color: #8fbdec;
}

.feedback_popup h3 {
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  color: #343434;
}

.popup_show {
  display: block;
}

@keyframes shake {
  0%, 100%                {transform: translateX(0);}
  10%, 30%, 50%, 70%, 90% {transform: translateX(-10px);}
  20%, 40%, 60%, 80%      {transform: translateX(10px);}
}

.popup_error {
  animation: shake 0.6s;
}

.popup_overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  width: 100%;
  height: 100%;

  background: rgba(52, 52, 52, 0.3);
}

.overlay_show {
  display: block;
}

/* Стили для внутренних страниц */

.inner_container {
  min-width: 1200px;
  background: #849d8f;
}

.page_content {
  padding: 0 27px;
}

.page_title {
  margin-top: -25px;
  padding: 0 27px;
}

.page_title h1 {
  margin: 0;
  margin-top: 5px;
  padding: 0;
}

.breadcrumbs {
  margin: 0;
  padding: 0;
  font-size: 0;

  list-style: none;
}

.breadcrumbs li {
  position: relative;
  display: inline;
  padding-right: 22px;

  font-size: 14px;
  line-height: 22px;
  color: #fff;
}

.breadcrumbs li::after {
  content: "»";
  position: absolute;
  right: 8px;
}

.breadcrumbs .current::after {
  display: none;
}

.breadcrumbs li a {
  color: #fff;
  text-decoration: underline;
}

.breadcrumbs li a:hover {
  color: #ffbc9e;
  text-decoration: underline;
}

.page_content .filters {
  margin-top: 30px;
  margin-bottom: 40px;
}

.catalog {
  text-align: right;
}

.page_content .products {
  margin-bottom: 40px;
}

.page_content .product {
  margin-bottom: 20px;
}

.page_navigation {
  margin-bottom: 40px;
  font-size: 0;
}

.page_navigation a {
  display: inline-block;
  padding: 2px 10px;
  margin-right: 3px;
  font-size: 16px;
  line-height: 24px;
  border-radius: 19px;
  color: #fff;
  text-decoration: none;
}

.page_navigation a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.page_navigation .current {
  background-color: #fff;
  color: #000;
}

.page_navigation .current:hover {
  background-color: #fff;
}

.footer {
  border-top: 1px solid rgba(253, 253, 253, 0.3);
}
